doctype html
head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
form(method='GET' action='/logout' align="right")
  label(class="logoutLb1Pos")
    button.btn.btn-primary(type='submit' name='logout')
      k.glyphicon.glyphicon-off
        | Logout
      k
.container
  h2(style='color:#CACACA;font-size:30px;')
    | Result Dashboard
    br
    br

.col-md-12
  p(style='color:#CACACA;font-size:19px;')
    | This is to
    br
    b
      | Select Project and Phase
      br
      b  Click below
  div.form-group
    form(action='/dashboard', method='POST')
      p(style='color:#4682B4;font-size:19px;')
        select(name='projname')
          each val in projlist
            option= val
        br
        br
        br
        select(name='projphase')
          option Discovery Phase
          option Design Phase
          option Environment Readiness Phase
          option Development Phase
          option Testing Phase	
          option Go-Live
      input(type='submit' value="View Charts")
.col-md-12
script(type='text/javascript', src='/javascripts/timeout.js')
