doctype html
head
  title Existing Project
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(src='public/javascripts/edit.js')
  link(rel='stylesheet' href='/public/stylesheets/style.css')
.container
  .col-md-4
  .col-md-4
    br
    br
    br
    h2(align='center') Choose a Project to Edit.
    br
    br
    .table-responsive
      table(style='width:100%')
        thead
          tr
            td ID
            td Project Name
            td Edit
        tbody
          tr
            form(method='POST' action='')
              td#id_1(name='id_1')
              td#project_name_1(name='project_name_1')
              td#submit_1
          tr
            form(method='POST' action='')
              td#id_2(name='id_2')
              td#project_name_2(name='project_name_2')
              td#submit_2
          tr
            form(method='POST' action='')
              td#id_3(name='id_3')
              td#project_name_3(name='project_name_3')
              td#submit_3
          tr
            form(method='POST' action='')
              td#id_4(name='id_4')
              td#project_name_4(name='project_name_4')
              td#submit_4
          tr
            form(method='POST' action='')
              td#id_5(name='id_5')
              td#project_name_5(name='project_name_5')
              td#submit_5
          tr
            form(method='POST' action='')
              td#id_6(name='id_6')
              td#project_name_6(name='project_name_6')
              td#submit_6
          tr
            form(method='POST' action='')
              td#id_7(name='id_7')
              td#project_name_7(name='project_name_7')
              td#submit_7
          tr
            form(method='POST' action='')
              td#id_8(name='id_8')
              td#project_name_8(name='project_name_8')
              td#submit_8
          tr
            form(method='POST' action='')
              td#id_9(name='id_9')
              td#project_name_9(name='project_name_9')
              td#submit_9
          tr
            form(method='POST' action='')
              td#id_10(name='id_10')
              td#project_name_10(name='project_name_10')
              td#submit_10
.col-md-4
