head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
.container
  h2(style='color:#CACACA;font-size:30px')
    | Welcome User!
    br
    br
    img(src='images/avatar.png' width='80px' height='80px')
br
br
br
br
br
.col-md-3
.col-md-3
  p(style='color:#CACACA;font-size:19px')
    | If you want to 
    b
      | Edit Existing project
      b  Click below
  button.btn.btn-default(type='button' style='width:300px') Show Existing Project
.col-md-3
  p(style='color:#CACACA;font-size:19px')
    | If you want to 
    b
      | Add New project
      b    Click below
  button.btn.btn-default(type='button' style='width:300px') Add New Project
br
.col-md-4
.col-md-4
